.item {
  max-width: 330px;
  border: 5px solid #c784ea;

  h3 {
    background-color: wheat;
    padding: 1em 0;
    text-align: center;
  }

  img {
    max-width: 250px;
    max-height: 200px;
  }

  figcaption {
    display: flex;
    justify-content: space-between;

    button {
      cursor: pointer;
    }
  }
}
