.home {
    color: black;
    
    header {
        height: 200px;
        color: black;
        background-color: paleturquoise;
    }
    
    footer {
        height: 100px;
        color: rebeccapurple;
    }
}