header {
  background: url("../../assets/logo.jpeg") no-repeat;
  background-size: 200px 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    display: none;
    color: #d1795b;
    font-family: 'Princess Sofia', cursive;

    @media (min-width: 660px) {
      display: block;
    }
  }
}
